{% extends 'base.html.twig' %}

{% block page_title %}Register{% endblock %}

{% block main %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <a href="{{ path('app_login') }}" aria-label="Login">Login</a>
{% endblock %}
